:root {
--cesium-white: #edffff;
--cesium-black: #0d0d0e;
}

.cesium-infoBox {
height: 80%
}

.cesium-infoBox-iframe {
/*height: calc(100% - 35px) !important;*/
height: 95% !important
}

.cesium-selection-wrapper svg {
fill: var(--cesium-white)
}

button.cesium-infoBox-camera {
display: none
}

.cesium-baseLayerPicker-selected {
    width: 100% !important
}